.App {
  background-color: #352F2E;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body {
  margin: 0px;
  height: 100%;
}
.homeButton{
  text-align: center !important;
  margin-bottom: 5px !important;
}
.playlistpage{
  background-color: #352F2E !important;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5) !important;
}

.playlist_row {
    column-gap: 20px;
}

.playlist_container {
    display:flex;
    align-items: center;
    height: auto;
    flex-direction: column;
    background-color: #352F2E;
    margin: 20px;
}
.login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1000px;
  background-color: #352F2E; 

}
.song-card{
  margin-bottom: 15px !important;
}
.friend{
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: rgb(71, 67, 67) !important;
}
.card-title{
  color: black;
}

.deleteButt{
  margin-left: 20px;
  margin-top: 15px;
}
.AddPlaylist{
  text-align: center !important;
  margin-bottom:10px;
}

h1{
  font-size: 350% !important;
  margin-bottom: 25px !important;
}
.card-text{
  color: rgb(8, 8, 8);
}
.login_button{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 225px;
  background-color: grey;
  box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
}
.friend-header{
  color: white;
  text-align: center;
}
.friends{
  background-color: rgb(34, 31, 31);
  height: auto;
  border-radius: 15px;
}
.header{
  color: rgb(14, 197, 8);
  text-align: center;
}
.deleteButton{
    display:flex;
    align-items: center;
    height: auto;
    margin: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
